@import "./font";

.navbar {
  display: flex;
  position: fixed;
  top: 20%;
  left: 0;
  flex-direction: column;
  justify-content: space-evenly;
  width: 16vw;
  background-color: #000;
  border-radius: 0 2rem 2rem 0rem;
  height: 60vh;

  .nav-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 0.76rem;
    color: white;

    img {
      transform: scale(0.6);
      margin-bottom: 0.5rem;
    }
  }
}
